<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<link rel="stylesheet" th:href="@{/css/signupForm.css}">

	<!--表示メッセージはmessages.propertiesで管理-->
	<title th:text="#{signup}"></title>
</head>

<body>
	<div layout:fragment="main">
		<div class="login-page">
			<div class="form">
				<form class="signup-form" method="post" th:action="${Url.SIGNUP}" th:object="${signupForm}">
					<input type="text" th:placeholder="#{newUserName}" th:field="*{userName}" th:errorclass="is-invalid" />
					<div class="invalid-feedback" th:errors="*{userName}"></div>
					<input type="password" th:placeholder="#{newPassword}" th:field="*{password}"
						th:errorclass="is-invalid" />
					<div class="invalid-feedback" th:errors="*{password}"></div>
					<button th:text="#{signup}"></button>
					<p class="message"><a th:href="${Url.LOGIN}" th:text="#{msgGuideLogin}"></a></p>
				</form>
			</div>
		</div>
	</div>
</body>

</html>