<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
</head>

<body>
	<!--すべてのwebページで共通のヘッダー-->
	<header layout:fragment="header">
		<div class="top-logo">
			<img id="icon" th:src="@{/image/icon.png}" alt="">
			<br>
			<p id="site-title" th:text="#{siteTitle}"></p>
			<p id="site-subtitle" th:text="#{siteSubTitle}"></p>
		</div>
		<nav>
			<!--TODO:各リンクの設定とハードコーディングの解消-->
			<ul>
				<li>ホーム</li>
				<li>マイページ</li>
				<li><a th:href="${Url.LOGIN}" th:text="#{login}"></a></li>
				<li><a th:href="${Url.SIGNUP}" th:text="#{signup}"></a></li>
			</ul>
		</nav>

	</header>
</body>

</html>