<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<!--	webjarsのライブラリ読込(Maven依存関係フォルダ内)-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

	<title>ログイン画面</title>
</head>

<body class="bg-light">
	<div layout:fragment="main">
		<div class="text-center">
			
			<form method="post" th:action="@{/login}" class="form-login">
				<h2>ログイン</h2>

				<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
					th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">ログインエラーメッセージ</p>

				<!--ユーザID-->
				<div class="form-group">
					<!--label:フォームの中で項目名と部品を紐づける-->
					<label for="userId" class="sr-only"></label>
					<!--placeholder:入力欄に初期値として表示される-->
					<input type="text" class="form-control" placeholder="ユーザID" name="userId" />
				</div>

				<!--パスワード-->
				<div class="form-group">
					<label for="password" class="sr-only"></label>
					
					<!--					TODO:typeをpasswordに変更しておく-->
					<input type="text" class="form-control" placeholder="パスワード" name="password" />
				</div>
				<br>
				<input type="submit" value="ログイン" class="btn btn-primary" />
			</form>
			
			<!--リンク表示-->
			<a th:href="@{/user/signup}">新規登録はこちら</a>
			
		</div>
	</div>
</body>

</html>