<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewpoint" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<!--CSS読み込み-->
	<link rel="stylesheet" th:href="@{/test/style.css}">

	<!--JS読み込み-->
	<script th:src="@{/test/script.js}" defer></script>
	<script th:src="@{/test/mit/jquery-1.9.1.min.js}" defer></script>

	<title>テスト Hello</title>
</head>

<body>
	<div id="menu_button"><span id="menu_button_line"></span></div>
	<div id="overlay"></div>

	<header>
		<div id="header_block">
			<div class="logo">
				<img th:src="@{/test/images/logo.png}" alt="">
			</div>

			</div>
			<br>
			<div id="main_menu">


				<nav>
					<!--ul:番号なしリスト-->
					<ul>
						<!--li:リスト項目-->
						<li><a href="index.html">ホーム</a></li>
						<li><a href="about.html">マイページ</a></li>
						<li><a href="#.html">ログイン</a></li>
						<li><a href="#.html">ユーザ登録</a></li>
						<li><a href="#.html">ようこそ、〇〇さん</a></li>
					</ul>
				</nav>
			</div><!-- main_menu END -->
		</div><!-- header_block END -->
	</header>

	<main>
		<!-- block START -->
		<div id="test" class="block">
			<div class="content">

				<ul>
					<li><a href="#test">同ページ内リンクテスト</a></li>
				</ul>

				<!-- 内容 START -->
				<h1>テスト見出し1</h1>
				<p>テスト段落1(コンテンツ内容制限あり)</p>
				<p>テスト段落2</p>

				<h2>テスト見出し2</h2>

				<div class="table_design1">
					<table>
						<tbody>

							<tr>
								<th>サンプルテキスト</th>
								<td>この文章は、デザインを確認するためのサンプルテキストです。</td>
							</tr>

							<tr>
								<th>サンプルテキスト</th>
								<td>この文章は、デザインを確認するためのサンプルテキストです。</td>
							</tr>

						</tbody>
					</table>
				</div><!-- table_design1 -->

				<blockquote>引用・転載は、&lt;blockquote&gt; から &lt;/blockquote&gt; です。デザインを変更したい場合は、CSS ファイルの blockquote
					を編集してください。この文章は、デザインを確認するためのサンプルテキストです。この文章は、デザインを確認するためのサンプルテキストです。この文章は、デザインを確認するためのサンプルテキストです。この文章は、デザインを確認するためのサンプルテキストです。この文章は、デザインを確認するためのサンプルテキストです。
				</blockquote>

				<dl class="faq">
					<dt><span class="qa">Q.</span>Q&amp;A の質問を記入する欄です。</dt>
					<dd><span class="qa">A.</span>Q&amp;A の回答を記入する欄です。</dd>

					<dt><span class="qa">Q.</span>この文章は、デザインを確認するためのサンプルテキストです。</dt>
					<dd><span class="qa">A.</span>この文章は、デザインを確認するためのサンプルテキストです。</dd>

					<dt><span class="qa">Q.</span>この文章は、デザインを確認するためのサンプルテキストです。</dt>
					<dd><span class="qa">A.</span>この文章は、デザインを確認するためのサンプルテキストです。</dd>
				</dl>

				<!-- 内容 END -->

			</div><!-- content END -->
		</div><!-- block END -->
		<!-- ブロック（block START から block END）は、/article より上に配置してください。 -->
	</main>
	<div id="back_top"><img th;src="test/images/back-top.png" alt="トップへ戻る" /></div>

	<footer>
		<!--target="_blank"：別タグで開く-->
		<a href="https://www.meijimura.com/" target="_blank">明治村公式サイトはこちら</a>
		<p></p>
		<p></p>
		<!-- 下の行を変更したり削除すると、無料テンプレートの利用規約違反となります。 -->
		<p><a href="http://japanism.info/free-template.html" target="_blank" rel="nofollow">Free Template</a></p>
		<!-- 上の行を変更したり削除すると、無料テンプレートの利用規約違反となります。 -->

	</footer>
</body>

</html>